.box1{
    width: 200px;
    height: 200px;
    background: black;
    color: white;
    display: grid;
    /* margin: 10px; */
}
.box2{
    width: 200px;
    height: 200px;
    background: orange;
    color: black;
    display: grid;
    text-align: right;
    
}